<div class='fluid-content-wrapper p-m--t'>
  <h1 class='m-m--b header--l'>Join <%= @event.name %></h1>
  <%= simple_form_for [@event, @event_user] do |f| %>
    <%= f.input :friends_count do %>
      <%= number_field_tag 'event_user[friends_count]', @event.friends_count, in: 0..100 %>
    <% end %>
    <div class='simple_form__actions'>
      <%= f.submit 'Sign me up', class: 'btn btn--secondary btn--large' %>
    </div>
  <% end %>
</div>
