<div class='fluid-content-wrapper p-m--t'>
  <h1 class='m-m--b'>Create new event</h1>
  <%= simple_form_for @event do |f| %>
    <%= f.input :name, placeholder: 'What?' %>
    <%= f.input :place, placeholder: 'Where?' %>
    <%= f.input :datetime, as: 'string', label: 'Event time', placeholder: 'When?',
      input_html: { id: 'datetimepicker' },
      wrapper_html: { class: 'datetimepicker-wrapper' }
      %>
    <%= f.input :description %>
    <div class='simple_form__actions'>
      <%= f.submit 'Submit', class: 'btn btn--secondary btn--wide link--trans' %>
    </div>
  <% end %>
</div>

<script type='text/javascript'>
  $(function() {
    $('#datetimepicker').datetimepicker({
      sideBySide: true,
      format: 'D-MM-YYYY hh:mm A'
    });
  });
</script>
