<div class='fluid-content-wrapper p-m--t'>
  <div class='event-page'>
    <h1 class='m-m--b deco-header'><span>Event details</span></h1>
    <div class='event-page__data'>
      <label>What?</label>
      <span class='event-name'><%= @event.name %></span>
    </div>
    <div class='event-page__data'>
      <label>Where?</label>
      <span class='event-place'><%= @event.place %></span>
    </div>
    <div class='event-page__data'>
      <label>When?</label>
      <span class='event-datetime'>
        <%= format_event_date(@event) %>
        <%= format_event_time(@event) %>
      </span>
    </div>
    <% if @event.description.present? %>
      <div class='event-page__data event-page__data--condensed m-m--t'>
        <label>Details</label>
        <span class='event-description'><%= @event.description %></span>
      </div>
    <% end %>

    <h1 class='m-m--b m-l--t deco-header'><span>Participants</span></h1>
    <div class='event-page__cta-wrapper'>
      <%= link_to 'Sign me up!', '#', class: 'btn btn--primary btn--large' %>
    </div>
  </div>
</div>
