<div class='fluid-content-wrapper p-m--t'>
  <div class='event-page'>
    <h1 class='m-m--b deco-header'>
      <%= @event.name %>
      <% if @event.future? && @event.creator == current_user %>
        <div class='deco-header__links'>
          <%=
            link_to(
              'Delete event',
              @event,
              method: :delete,
              class: 'deco-header__link link link--primary s-hide m-xs--r',
              data: { confirm: 'Do you really want to delete this event?' }
            )
          %>
          <%= link_to 'Edit event',
            edit_event_path(@event), class: 'deco-header__link link link--secondary s-hide' %>
        </div>
      <% end %>
    </h1>
    <div class='event-page__data m-m--b'>
      <label class='s-hide'>Time</label>
      <div class='event-fieldvalue event-info'>
        <%== format_event_datetime_with_distance(@event) %>
      </div>
    </div>
    <div class='event-page__data m-m--b'>
      <label class='s-hide'>Place</label>
      <span class='event-fieldvalue event-info'>
        <span class='s-show text-muted'>Place: </span>
        <%= @event.place %>
      </span>
    </div>
    <% if @event.description.present? %>
      <div class='event-page__data event-page__data--condensed m-m--b'>
        <label class='s-hide'>Details</label>
        <span class='event-fieldvalue event-info--alt'><%= @event.description %></span>
      </div>
    <% end %>
    <div class='event-page__data m-m--b'>
      <label class='s-hide'>Tag</label>
      <span class='s-show text-semibold m-xxs--r text-muted'>Tag:</span>
      <% if @event.event_type.present? %>
        <%= link_to(
          @event.event_type.name,
          events_path(event_type_id: @event.event_type_id),
          class: 'event-info event-fieldvalue event-badge m-xs--l',
          style: "background-color: #{event_type_bg_color(@event)}"
        ) %>
      <% else %>
        <span class='event-info event-fieldvalue text-cancel'>Untagged</span>
      <% end %>
    </div>
    <div class='event-page__data m-m--b'>
      <label class='s-hide'>People</label>
      <div class='event-fieldvalue event-people'>
        <span class='s-show m-xxxs--r'>People:</span>
        <span class='total'><%= @event.participants_count %></span>
        <span class='text-cancel'><%= format_event_people_hint(@event) %></span>
      </div>
    </div>
    <% if @event.future? %>
      <div class='event-page__cta-wrapper'>
        <% if @event.creator == current_user %>
          <%=
            button_to(
              'Delete event',
              @event,
              method: :delete,
              class: 'btn btn--primary m-xs--b btn--large s-show',
              data: { confirm: 'Do you really want to delete this event?' }
            )
          %>
          <%= link_to 'Edit event',
            edit_event_path(@event), class: 'btn btn--secondary m-xs--b btn--large s-show' %>
        <% end %>
      </div>
    <% end %>

    <h3 class='m-m--b m-m--t deco-header'>
      Participants (<%= pluralize(@event.users_joined.count, 'user') %>)
      <% if @event.future? %>
        <% if @event_user.nil? %>
          <%= link_to 'Sign me up', new_event_event_user_path(@event),
            class: 'deco-header__link link link--success s-hide' %>
        <% else %>
          <div class='deco-header__links'>
            <%=
              link_to(
                'Sign me off',
                [@event, @event_user],
                method: :delete,
                class: 'deco-header__link link link--primary s-hide m-xs--r',
                data: { confirm: 'Do you really want to sign off?' }
              )
            %>
            <%= link_to 'Edit my application', edit_event_event_user_path(@event, @event_user),
              class: 'deco-header__link link link--secondary s-hide' %>
          </div>
        <% end %>
      <% end %>
    </h3>

    <% @event_users.map do |event_user| %>
      <%= render partial: 'events/participant', locals: { event_user: event_user } %>
    <% end %>

    <% if @event.future? %>
      <div class='event-page__cta-wrapper'>
        <% if @event_user.nil? %>
          <%= link_to 'Sign me up!', new_event_event_user_path(@event),
            class: 'btn btn--primary s-show btn--large' %>
        <% else %>
          <%= link_to 'Edit my application', edit_event_event_user_path(@event, @event_user),
            class: 'btn btn--primary s-show btn--large' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
