<!DOCTYPE html>
<html>
  <head>
    <title>Umawianko</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900' rel='stylesheet'>
  </head>

  <body>
    <%= render 'layouts/global-header' %>
    <div class='outer-content-wrapper bg-tint p-xxxl--b'>
      <%= render 'layouts/notifications' %>
      <%= yield %>
    </div>
  </body>
</html>
